<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Add New User:</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="email">New User Email</label>
  <div class="controls">
    <input id="email" ng-model="email" name="email" type="text" placeholder="Email" class="input-large" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="password">New User Password</label>
  <div class="controls">
    <input id="password" ng-model="password" name="password" type="password" placeholder="Password" class="input-large" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="name">Name</label>
  <div class="controls">
    <input id="name" ng-model="name" name="name" type="text" placeholder="Full Name" class="input-large" required="">
    
  </div>
</div>

<!-- Select Multiple -->
<div class="control-group">
  <label class="control-label" for="roles">Roles</label>
  <div class="controls">
    <select id="roles" ng-model="roles" name="roles" class="input-large" multiple="multiple">
      <option>Lab</option>
      <option>Client Services</option>
      <option>Pathologist</option>
      <option>Admin</option>
    </select>
  </div>
</div>


<!-- Button -->
<div class="control-group">
  <label class="control-label" for="submit"></label>
  <div class="controls">
    <button id="submit" ng-click="createNewUser()" name="submit" class="btn btn-primary">Add User</button>
  </div>
</div>

</fieldset>
</form>
