<div class="col-md-4">
<form class="form">

<!-- Form Name -->
<h3>Edit User</h3>

<h3>{{data.email}}</h3>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="name">Name</label>
  <div class="controls">
    <input id="name" ng-model="data.name" name="name" type="text" placeholder="Full Name" class="form-control" required="">
    
  </div>
</div>

<!-- Select Multiple -->
<div class="control-group">
  <label class="control-label" for="roles">Roles</label>
  <div class="controls">
    <select id="roles" ng-model="data.roles" name="roles" class="form-control" multiple="multiple">
      <option>Lab</option>
      <option>Client Service</option>
      <option>Pathologist</option>
      <option>Admin</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="timezone">Time Zone</label>
  <div class="controls">
    <input id="timezone" ng-model="data.timeZone" name="timezone" type="text" placeholder="Time Zone in GMT" class="form-control">
    
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="submit"></label>
  <div class="controls">
    <button id="submit" ng-click="saveUser()" name="submit" class="btn btn-primary">Save User</button>
  </div>
</div>

</form>
</div>

<div class="col-md-4">
<form role="form">
  <h3>Change Password</h3>

  <p class="form-group">
    <label>Old Password:</label>
    <input type="password" ng-keypress="clear()" ng-model="oldpass" class="form-control" />
  </p>

  <p class="form-group">
    <label>New Password:</label>
    <input type="password" ng-keypress="clear()" ng-model="newpass" class="form-control" />
  </p>

  <p class="form-group">
    <label>Confirm New Password:</label>
    <input type="password" ng-keypress="clear()" ng-model="confirm" class="form-control" />
  </p>

  <button class="btn btn-primary" ng-click="changePassword(oldpass, newpass, confirm)">change password</button>

  <p class="error" ng-show="err">{{err}}</p>
  <p class="good" ng-show="msg">{{msg}}</p>
</form>
</div>

<div class="col-md-4">
<form>
  <h3>Change Email</h3>

  <p class="form-group">
    <label>New Email:</label>
    <input type="text" ng-keypress="clear()" ng-model="newEmail" class="form-control" />
  </p>

  <p class="form-group">
    <label>Password:</label>
    <input type="password" ng-keypress="clear()" ng-model="pass" class="form-control" />
  </p>

  <button class="btn btn-primary" ng-click="changeEmail(pass, newEmail)">update email</button>
</form>
</div>

</div>
<p class="clearfix"></p>
